.thunderstorm {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/815/327/666/lightning-sky-thunder-city-wallpaper-preview.jpg");
}
.drizzle {
    background-image: url("https://img.freepik.com/premium-photo/drizzle-rainy-night-light-bokeh-background-wallpaper_1000174-3357.jpg");
}
.rain {
    background-image: url("https://static.vecteezy.com/system/resources/previews/033/645/252/large_2x/drizzle-rainy-day-in-autumn-background-and-wallpaper-generative-ai-photo.jpg");
}
.snow {
    background-image: url("https://wallpapers.com/images/hd/snowing-background-9niw1aqyiqkifd8u.jpg");
}
.atmosphere {
    background-image: url("https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?cs=srgb&dl=pexels-eberhardgross-1367192.jpg&fm=jpg");
}
.clear {
    background-image: url("https://www.shutterstock.com/image-photo/field-spring-grass-perfect-sky-600nw-1725016915.jpg");
}
.clouds {
    background-image: url("https://i.pinimg.com/originals/37/c3/a1/37c3a182ab8e39afea66470ac18e58db.jpg");
}

.background {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.content {
    backdrop-filter: blur(10px) brightness(95%);
    background: rgb(255 255 255 / 80%);
}
